* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #403f3f;
  background-attachment: fixed;
}
/* navbar*/
nav {
  height: 65px;
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  display: flex;
  width: 30%;
  padding: 10px 20px;
  gap: 20px;
  justify-content: flex-start;
  color: white;
}

.navbar img {
  height: 130%;
  margin-top: -5px;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 0 40px;
  width: 70%;
  float: right;
  background-color: #d7b865;
  border-radius: 0 0 0 60px;
}
.navbar-menu a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.navbar-menu a:hover {
  color: blue;
}
/* ============================================================== */

/* body */
.box {
  margin: 30px 7rem 20px 5rem;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Nunito", sans-serif;
  border: 0.5px solid white;
}

.box h2 {
  color: #d7b865;
  padding: 20px 0 20px 60px;
  font-size: 2rem;
  font-family: 'Nuosu SIL', serif;
}
.content {
  display: flex;
  padding: 0 0 20px 60px;
}

.booking_image {
  padding: 0 20px 0 0;
}

.booking_image img {
  height: 400px;
  width: 500px;
}

.booking_details {
  padding-left: 10px;
}

.booking_details h3 {
  padding-left: 10px;
  font-family: 'Nuosu SIL', serif;
  color: #d7b865;
}

.booking_details p {
  margin: 10px 0 10px 0;
  padding-left: 20px;
  color: #fff;
}

table {
  padding: 0 0 0 20px;
}

td {
  padding-right: 6rem;
  padding-top: 10px;
  margin: 10px;
  font-size: 15px;
  color: white;
}

.dot {
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.Thankyou {
  width: 60%;
  margin: auto;
  padding: 50px;
  font-size: 50;
  color: #fff;
  text-align: center;
}
.Thankyou h3 {
  font-size: 2rem;
  text-align: center;
  color: #d7b865;
  font-family: 'Nuosu SIL', serif;
}
.Card img {
  width: 40%;
  height: auto;
  margin: auto;
  padding: 10px;
}

.button {
  text-align: center;
  max-width: 80px;
  margin-left: 43%;
  margin-top: 20px;
  font-family: "Mulish", sans-serif;
  padding-bottom: 20px;
}
.button a {
  padding: 5px 5rem;
  background-color: #ffdb5b;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
.button a:hover {
  background-color: #ffd000;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  bottom: 0px;
  background: rgb(34, 34, 34);
  padding-top: 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: 10px;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
}
.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #d7b865;
  padding: 5px;
}

.socials a i {
  font-size: 1.5rem;
  width: 20px;
}

.socials a:hover i {
  color: aqua;
}
